[Desktop Entry]
Version=1.0
Name=Audio Swop
Comment=Replace audio in video files
Exec=audio_swop
Icon=audio-swop
Terminal=false
Type=Application
Categories=AudioVideo;Video;